{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class='container'>
        <h1>Logged Out</h1>
        <p>You have been logged out.</p>
    </div>
{% endblock content %}
