{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class="span12">
                <h1>Password Reset Complete</h1>
                <p>Your password has been set. You may log in now.</p>
                <p><a href="{% url 'login' %}">Log In</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
