{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class="span12">
                <h1>Password Reset Email Sent</h1>
                <p>Please check your email for a password reset link.</p>
            </div>
        </div>
    </div>
{% endblock content %}
