{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class='span4 offset4 well'>
                <h1>Password Reset</h1>
                <form action="" method='post'>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class='btn' type='submit'>Reset Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
