{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class="span12">
                <h1>Password Change Done</h1>
                <p>Your password has been changed.</p>
            </div>
        </div>
    </div>
{% endblock content %}
