{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load stripe %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class='span5'>
                <h1>Add a Credit Card</h1>
                <form id="edit_card_form" action="" method='post'>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class='btn btn-success' type='submit'>Add Card</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    $(function(){
        // map stripe error with our form
        var mapping = {'number': 'id_card_number', 'exp_month': 'id_expiration_date_year',
         'exp_year': 'id_expiration_date_year', 'cvc': 'id_verification_number'}
                
        function hide_form_errors(){
            $('.errorlist').remove();
        }
        
        function display_error(field, error_text, is_checkbox){
            if(is_checkbox){
                if (field.find('.help-inline').length > 0){
                    field.parent().siblings('.help-inline').text(error_text);
                }else{
                    // insert help-inline to this field
                    $span = $('<span/>', {'class': 'help-inline'});
                    $span.html(error_text);
                    if(field.next('.chzn-container').length > 0){
                       field.next('.chzn-container').after($span) ;
                    }else{
                        field.after($span);
                    }                    
                }
            }else{
                if (field.find('.help-inline').length > 0){
                    field.siblings('.help-inline').text(error_text);
                }else{
                    // insert help-inline to this field
                    $span = $('<span/>', {'class': 'help-inline'});
                    $span.html(error_text);
                    if(field.next('.chzn-container').length > 0){
                       field.next('.chzn-container').after($span) ;
                    }else{
                        field.after($span);
                    }  
                }
            }
        }
        
        function process_form_errors(json, form){
            var curField;
            hide_form_errors();
            errors = json.errors;
            $("button[type=submit]").removeAttr('disabled');
            
            prefix = form.find(":hidden[name='prefix']").val();
            
            prefix == undefined ? prefix = '' : prefix = prefix + '-';
            $('.error').removeClass('error');
            $('.help-inline').text('');
            
            if (errors.__all__ != undefined){
                // form.append(errors.__all__);
                // append error for email or password based on return value
                
                if (errors.__all__.indexOf('password') !== -1){
                    field = $('[name=password2]');
                }else{
                    field = $('[name=email_again]');
                }
                
                display_error(field, errors.__all__, false);
                field.parents('.control-group:first').addClass('error')
            }
            
            for (field in errors) {
                if(errors.hasOwnProperty(field)){
                    curField = $('[name=' + field + '], [name=' + field + ']');
                    if(curField.attr('type') === 'checkbox'){
                        display_error(curField, errors[field], true);
                    } else {
                        display_error(curField, errors[field], false);
                    }
                    curField.parents('.control-group:first').addClass('error')
                }
            }
        }
        
        function removeErrorForStripe(){
            $('.error').each(function(){
                $(this).find('.help-inline').remove();
                $(this).removeClass('error');
            })
        }
        
        function addErrorForStripe(element, message){
            removeErrorForStripe();
            $span = $('<span/>', {'class': 'help-inline'});
            $span.html(message);
            
            element.after($span);
            element.parents('.control-group:first').addClass('error');
        }
        
        function stripeResponseHandler(status, response) {
            //response:
            //{
            //  id : "tok_u5dg20Gra", // String of token identifier,
            //  card : {...}, // Dictionary of the card used to create the token
            //  created : 1357740841, // Integer of date token was created
            //  currency: "usd", // String currency that the token was created in
            //  livemode: true, // Boolean of whether this token was created with a live or test API key
            //  object: "token", // String identifier of the type of object, always "token"
            //  used : false, // Boolean of whether this token has been used,
            //}
            if (response.error) {
                $('html body').css('cursor', 'auto');
                // console.log(response.error.message);
                $("button[type=submit]").removeAttr('disabled');
                addErrorForStripe($('#' + mapping[response.error.param]), response.error.message);
            }
            else {
                // add the stripe token and submit the form
                var form = $("#edit_card_form");
                $("#id_stripe_token").val(response.id);
                var data = form.serialize();
                $.ajax({
                    url: form.attr('action'),
                    data: data,
                    type: 'post',
                    success: function(json){
                        $('html body').css('cursor', 'auto');
                        if (json.success === false && json.errors !== undefined)
                            process_form_errors(json, form);
                        else {
                            // redirect to manage cards page
                            window.location.href = '{% tiger_manage_cards %}';
                        }
                    }
                });
            }
        }
        
        $('#edit_card_form').submit(function(e){
            e.preventDefault();
            $("button[type=submit]").attr('disabled', 'disabled');
            $('html body').css('cursor', 'wait');
            
            var data = {
                number: $("#id_card_number").val(),
                cvc: $("#id_verification_number").val(),
                exp_month: $("#id_expiration_date_month").val(),
                exp_year: $("#id_expiration_date_year").val()
            };
            Stripe.createToken(data, stripeResponseHandler);
        });
        Stripe.setPublishableKey('{% stripe_pub_key %}');
        
    })
</script>
{% endblock %}
