{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class="span12">
                <h1>Manage Credit Cards</h1>
                <ul class="unstyled">
                    {% for card in user_cards %}
                        <li>{{ card }}</li>
                    {% empty %}
                        <li>No cards on file.</li>
                    {% endfor %}
                </ul>
                <p><a href="{% url 'tiger_add_card' %}" class='btn btn-success'>Add a card</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
