
// BOOTSTRAP BASE IMPORTS
// ----------------------

@import "../vendor/bootstrap/less/bootstrap.less";
@import "mixins.less";

// THEME
// ------------------

@import "urbane-candy-theme.less";


// RESPONSIVE CLASSES
// ------------------
// We import the responsive stuff AFTER the theme so that our theme
// definitions (e.g. body { padding-top } don't stomp on responsive fixes.

@import "../vendor/bootstrap/less/responsive-utilities.less";


// MEDIA QUERIES
// ------------------

// Large desktops
@import "../vendor/bootstrap/less/responsive-1200px-min.less";

// Tablets to regular desktops
@import "../vendor/bootstrap/less/responsive-768px-979px.less";

// Phones to portrait tablets and narrow desktops
@import "../vendor/bootstrap/less/responsive-767px-max.less";


// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
@import "../vendor/bootstrap/less/responsive-navbar.less";

div.hero-unit {
	dl dt {
		float: left;
		margin-right: 15px;
		clear: both;
	}
	dl dd:first-of-type {
		font-size: 0.8em;
	}

	dd {
		font-size: 0.9em;
		span.ordinal {
			font-size: 0.7em;
		}
	}

	h5 {
		margin: 30px 0;
	}
}

#top-nav-slider-control {
	top: 23px;
	right: 30px;
}


// RESPONSIVE TWEAKS
// -----------------

// width dependent on # of nav categories

@media (max-width: 1450px) {
  .navbar .brand {
    font-size: @fontSizeLarge;
  }
}

@media (max-width: 676px) {
  // Block-level the nav
  .navbar {
    clear: both;
  }
  .navbar .nav-categories {
    width: 100%;
    margin: 0;
  }
  .navbar .nav-categories li {
    float: left;
    margin: 0 0 (@baseLineHeight / 2);
    width: 50%;
  }

  // // Dropdowns in the navbar
  .navbar .dropdown-menu li {
    float: none;
  }
}

@media (max-width: 480px) {
  .navbar .brand {
    font-size: @baseFontSize;
  }
}

.navbar-inverse .brand {
  font-size: 22px;
  margin-left: 7px;
  padding: 13px 6px 6px;
  line-height: 16px;
}
.navbar-inverse .brand .subheader {
  font-size: 14px;
  font-family: @sansFontFamily;
}

span.small {
  font-size: @fontSizeSmall;
}
