



a.brand {
    font-family: @headingsFontFamily;
}

h1 {
    color: @greenDark;
}

h4 {
  font-size: 24px;
  line-height: 40px;
}

body {
    font-family: 'Noto Sans', sans-serif;
    //background-color: @blue;
    padding-top: @navbarHeight + 40px;
}

a {
    text-decoration: underline;
}

p {
  margin: 0 0 30px;
}

dl {
  margin: 10px 0 15px;
}

// Can't combine these with a comma
.selection {
  background-color: @btnPrimaryBackground;
  color: @white;
  text-shadow: none;
}
::selection {
  .selection
}
::-moz-selection {
  .selection
}

.hero-unit {
    .dropshadowDark;
    p {
      margin: 20px 0;
    }
}

code,
pre {
    font-family: 'Droid Sans Mono', sans-serif;
    color: @textColor;
    background-color: darken(@bodyBackground, 4%);
    .border-radius(@borderRadiusLarge + 2);
    border: none;
    padding: 4px 8px;
}

pre,
.well {
  margin: 10px 0;
  color: @textColor;
  padding: 20px;
  border: none;
  .border-radius(@borderRadiusLarge + 2);
  
}

.well {
  border: 1px solid darken(@bodyBackground, 3%);
  background-color: @bodyBackground;
  .box-shadow(4px 4px 20px -10px rgba(0, 0, 0, 0.3) inset);
}

.inverse {
  color: @bodyBackground;
  background-color: @grayLighter;
}

blockquote {
  .well
}

blockquote.inverse,
.well.inverse {
  .box-shadow(4px 4px 20px -10px rgba(0, 0, 0, 1) inset);
}

blockquote cite {
  display: block;
  margin-top: 30px;
  font-size: 0.9em;
}

legend {
  color: @textColor;
  border-color: lighten(@bodyBackground, 10%);
}

// NAVBAR
// -------------

.raised-panel {
  //border-style: solid;
  //border-width: 1px;
  //border-color: @navbarInverseBorder transparent;
  .box-shadow(0 0 30px rgba(0, 0, 0, 0.5));
  opacity: 0.98;
}

.navbar-inverse {
  .brand {
    color: @grayLight;
    font-size: 32px;
    text-decoration: none;
  }
  
  .brand:hover {
    color: @green;
  }
  
  .navbar-inner {
    background-image: none;
  }
}

// .navbar.raised-panel {
//   .navbar-inner {
//     .box-shadow(none);
//     border: none;
//   }
// }

.nav-slider-control {
  position: absolute;
  z-index: @zindexFixedNavbar + 1;
}

.nav-category {
  text-align: center;
  line-height: 10px;

}

.nav-category i {
  margin-top: -5px;
}

.nav-category span {
  font-size: 0.8em;
  height: 120px;
}

.nav-category b {
  color: @green;
}

.navbar .nav > li.nav-category > a {
  padding: 12px 30px;
}

div.input-append button.btn {
  border-color: #3D4552;
}


// BUTTONS
// -------

.btn {
    .dropshadow;
    text-decoration: none;
}
.btn-pink {
    .buttonBackground(@btnPinkBackground, @btnPinkBackgroundHighlight)
}

.btn-link {
  box-shadow: none;
  background-color: transparent;
  text-decoration: underline;
  text-shadow: none;
}

//  TOGGLES - hover effect is subtle, so emphasize it for toggled buttons
@buttonToggleSaturate: 30%;
@buttonToggleDarken: 10%;

.btn.active,
.btn.active:hover,
.btn.active:focus {
  //.buttonBackground(saturate(@btnPrimaryBackgroundHighlight, 40%), saturate(@btnPrimaryBackground, 40%));
  background-color: darken(saturate(@btnBackground, @buttonToggleSaturate * 0), @buttonToggleDarken * 0.05);
  color: darken(@grayDark, 5%);
  .dropshadow;
}

// only darken the text color of the default button
.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-info.active,
.btn-info.active:hover,
.btn-info.active:focus,
.btn-success.active,
.btn-success.active:hover,
.btn-success.active:focus,
.btn-warning.active,
.btn-warning.active:hover,
.btn-warning.active:focus,
.btn-danger.active,
.btn-danger.active:hover,
.btn-danger.active:focus,
.btn-inverse.active,
.btn-inverse.active:hover,
.btn-inverse.active:focus,
.btn-pink.active,
.btn-pink.active:hover,
.btn-pink.active:focus {
  color: @white;
}

.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:focus {
  //.buttonBackground(saturate(@btnPrimaryBackgroundHighlight, 40%), saturate(@btnPrimaryBackground, 40%));
  background-color: darken(saturate(@btnPrimaryBackground, @buttonToggleSaturate), @buttonToggleDarken);
}

.btn-info.active,
.btn-info.active:hover,
.btn-info.active:focus {
  //.buttonBackground(saturate(@btnPrimaryBackgroundHighlight, 40%), saturate(@btnPrimaryBackground, 40%));
  background-color: darken(saturate(@btnInfoBackground, @buttonToggleSaturate), @buttonToggleDarken);
}

.btn-success.active,
.btn-success.active:hover,
.btn-success.active:focus {
  //.buttonBackground(saturate(@btnPrimaryBackgroundHighlight, 40%), saturate(@btnPrimaryBackground, 40%));
  background-color: darken(saturate(@btnSuccessBackground, @buttonToggleSaturate * 0.75), @buttonToggleDarken);
}

.btn-warning.active,
.btn-warning.active:hover,
.btn-warning.active:focus {
  //.buttonBackground(saturate(@btnPrimaryBackgroundHighlight, 40%), saturate(@btnPrimaryBackground, 40%));
  background-color: darken(saturate(@btnWarningBackground, @buttonToggleSaturate), @buttonToggleDarken * 0.3);
}

.btn-danger.active,
.btn-danger.active:hover,
.btn-danger.active:focus {
  //.buttonBackground(saturate(@btnPrimaryBackgroundHighlight, 40%), saturate(@btnPrimaryBackground, 40%));
  background-color: darken(saturate(@btnDangerBackground, @buttonToggleSaturate * 0.1), @buttonToggleDarken * 0.1);
}

.btn-inverse.active,
.btn-inverse.active:hover,
.btn-inverse.active:focus {
  //.buttonBackground(saturate(@btnPrimaryBackgroundHighlight, 40%), saturate(@btnPrimaryBackground, 40%));
  background-color: darken(@btnInverseBackground, @buttonToggleDarken * 0.6);
}

.btn-pink.active,
.btn-pink.active:hover,
.btn-pink.active:focus {
  background-color: darken(saturate(@btnPinkBackground, @buttonToggleSaturate * 0.2), @buttonToggleDarken * 0.75);
}


// NAVS
// ----------

// Make links block level
.nav > li > a {
  color: @grayLight;
  text-decoration: none;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: @green;
  color: @white;
}


// NAV LIST
// --------

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: @white;
  background-color: @green;
}


// TABS
// ----

@tabBorder: @gray;

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid @tabBorder;
}

.nav > .disabled > a:hover,
.nav > .disabled > a:focus {
  border: none;
  color: @textColor;
}

// Actual tabs (as links)
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: @baseLineHeight;
  border: 1px solid transparent;
  .border-radius(4px 4px 0 0);
  &:hover,
  &:focus {
    border-color: @greenDark @greenDark @tabBorder;
  }
}

// Active state, and it's :hover/:focus to override normal :hover/:focus
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: @white;
  background-color: @bodyBackground;
  border-color: @tabBorder @tabBorder transparent;
}


// PILLS
// -----

@pillBackground: @greenDark;
// Links rendered as pills
.nav-pills > li > a {
  .border-radius(12px);
  color: @grayLighter;
  &:hover {
    .dropshadow;
  }
}

// Active state
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: @white;
  background-color: @pillBackground;
  .dropshadow;
}


// DROPDOWNS
// ---------

.dropdown-menu {
    .dropshadowDark;
}

.dropdown-menu > li > a {
  text-decoration: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: @grayDarker;
}


// LABELS, BADGER
// --------------

.label,
.badge {
    padding: 4px 7px 5px;
}

// Colors

// Base classes
.label,
.badge {
  color: @white;
  background-color: darken(@grayLight, 10%);
}

.badge {
  .border-radius(10px);
}

// Only give background-color difference to links (and to simplify, we don't qualifty with `a` but [href] attribute)
.label,
.badge {
  // Important (red)
  &-important         { background-color: @errorText; }
  &-important[href]   { background-color: darken(@errorText, 10%); }
  // Warnings (orange)
  &-warning           { background-color: @orange; }
  &-warning[href]     { background-color: darken(@orange, 10%); }
  // Success (green)
  &-success           { background-color: @successText; }
  &-success[href]     { background-color: darken(@successText, 10%); }
  // Info (turquoise)
  &-info              { background-color: @infoText; }
  &-info[href]        { background-color: darken(@infoText, 10%); }
  // Inverse (black)
  &-inverse           { background-color: darken(@grayDark, 5%); }
  &-inverse[href]     { background-color: darken(@grayDark, 15%); }
}


// PAGINATION
// ----------

.pagination ul > li > a,
.pagination ul > li > span {
  color: @grayDark;
  background-color: @btnBackground;
  border-color: darken(@bodyBackground, 10%);
  .dropshadow;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  .border-left-radius(@borderRadiusLarge);
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  .border-right-radius(@borderRadiusLarge);
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: @white;
  background-color: @btnPrimaryBackground;
  &:hover {
    background-color: @btnPrimaryBackgroundHighlight;
  }
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: @grayLight;
  background-color: @grayDark;
  &:hover {
    background-color: @grayDark;
  }
}

.pager li > a,
.pager li > span {
  background-color: @greenDark;
  color: @white;
  text-decoration: none;
  border: none;
}

.pager li > a:hover,
.pager li > a:focus {
  background-color: @green;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  background-color: @bodyBackground;
  border: 1px solid darken(@bodyBackground, 5%);
}





// MODALS
// ------

.modal-header, .modal-body {
  color: @grayDark;
}


// TABLES
// ------

 // Fix Borders
@tableBorderColor: lighten(@bodyBackground, 7%);
.table th,
.table td {
  border-top: 1px solid @tableBorderColor;
}

.table-bordered {
  border-color: @tableBorderColor;
  th,
  td {
    border-color: @tableBorderColor;
  }
}

// Striped, dark rows
.table-striped th,
.table-striped td {
  border-top: none;
}

// Striped, light rows
.table-striped tbody > tr:nth-child(2n+1) > td,
.table-striped tbody > tr:nth-child(2n+1) > th {
  background-color: lighten(@bodyBackground, 5%);
  border-top: none;
}

// Row Classes

.table tbody tr.success > td,
.table tbody tr.error > td,
.table tbody tr.warning > td,
.table tbody tr.info > td {
  color: @white;
}

.table tbody tr.success > td {
  background-color: @successText;
}

.table tbody tr.error > td {
  background-color: @errorText;
}

.table tbody tr.warning > td {
  background-color: @orange;
}

.table tbody tr.info > td {
  background-color: @infoText;
}


// Hover
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: lighten(@bodyBackground, 10%);
}


// ALERTS
//-------

.alert {
  .dropshadowDark;
}

// FORMS
// -----

label {
  //font-size: 0.9em;
}

.help-block,
.help-inline {
  font-size: 0.8em;
}

.help-block {
  color: @textColor;
}

// Fix range display in unsupported browsers
input[type="range"] {
   display: inline-block;
   height: @baseLineHeight;
   padding: 4px 6px;
   margin-bottom: @baseLineHeight / 2;
   font-size: @baseFontSize;
   line-height: @baseLineHeight;
   color: @gray;
   .border-radius(@inputBorderRadius);
   vertical-align: middle;
 }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="range"],
.uneditable-input {
  background-color: @inputBackground;
  border: 1px solid @inputBorder;
  .box-shadow(inset 2px 2px 8px rgba(0,0,0,0.18));
  .transition(~"border linear .2s, box-shadow linear .2s");

  // Focus state
  &:focus {
    border-color: lighten(@inputBorder, 10%);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    //.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
    .box-shadow(inset 2px 2px 8px rgba(0,0,0,0.18));
  }
}

// Disabled and read-only inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  .box-shadow(none);
}


// TOOLTIPS
// --------

// keep tooltops in the body below the fixed navbar
.tooltip {
  z-index: @zindexFixedNavbar - 1;
  font-size: @tooltipFontSize;
}

.tooltip.in {
  opacity: @tooltipOpacity;
}

.tooltip-inner {
  border-style: solid;
  border-width: @tooltipBorderWidth;
  border-color: @tooltipBorder;
  .dropshadow
}

// push out the left and right tooltips a little
.tooltip.left {
  margin-left: -12px;
}

.tooltip.right {
  margin-left: 5px;
}

// Fix tooltip arrow positioning
.tooltip.top > .tooltip-arrow {
  margin-bottom: -@tooltipBorderWidth;
}

.tooltip.right > .tooltip-arrow {
  margin-left: -@tooltipBorderWidth;
}

.tooltip.left > .tooltip-arrow {
  margin-right: -@tooltipBorderWidth;
}

.tooltip.bottom > .tooltip-arrow {
  margin-top: -@tooltipBorderWidth;
}



//---------------------------------
// SHJS
// - syntax highlighting
// --------------------------------

pre.sh_sourceCode {
  //background-color: white;
  //color: black;
  //font-style: normal;
  //font-weight: normal;
}

pre.sh_sourceCode .sh_keyword { color: @shKeyword; font-weight: bold; }           
pre.sh_sourceCode .sh_type { color: @shType; }                            
pre.sh_sourceCode .sh_usertype { color: @shUserType; }                             
pre.sh_sourceCode .sh_string { color: @shString; }        
pre.sh_sourceCode .sh_regexp { color: @shRegexp; }     
pre.sh_sourceCode .sh_specialchar { color: @shSpecialChar; }  
pre.sh_sourceCode .sh_comment { color: @shComment; font-style: italic; }         
pre.sh_sourceCode .sh_number { color: @shNumber; }                             
pre.sh_sourceCode .sh_preproc { color: @shPreProc; font-weight: bold; }       
pre.sh_sourceCode .sh_symbol { color: @shSymbol; }                            
pre.sh_sourceCode .sh_function { color: @shFunction; font-weight: bold; }         
pre.sh_sourceCode .sh_cbracket { color: @shBracket; }                              
pre.sh_sourceCode .sh_todo { font-weight: bold; background-color: @shTodo; }   

/* Predefined variables and functions (for instance glsl) */
pre.sh_sourceCode .sh_predef_var { color: @shKeyword; }
pre.sh_sourceCode .sh_predef_func { color: @shKeyword; font-weight: bold; }

/* for OOP */
pre.sh_sourceCode .sh_classname { color: @shUserType; }

/* line numbers (not yet implemented) */
pre.sh_sourceCode .sh_linenum { color: black; }

/* Internet related */
pre.sh_sourceCode .sh_url { color: @shKeyword; text-decoration: underline; font-family: monospace; }

/* for ChangeLog and Log files */
pre.sh_sourceCode .sh_date { color: @shKeyword; font-weight: bold; }
pre.sh_sourceCode .sh_time, pre.sh_sourceCode .sh_file { color: darkblue; font-weight: bold; }
pre.sh_sourceCode .sh_ip, pre.sh_sourceCode .sh_name { color: @shType; }

/* for Prolog, Perl... */
pre.sh_sourceCode .sh_variable { color: @shType; }

/* for LaTeX */
pre.sh_sourceCode .sh_italics { color: @shType; font-style: italic; }
pre.sh_sourceCode .sh_bold { color: @shType; font-weight: bold; }
pre.sh_sourceCode .sh_underline { color: @shType; text-decoration: underline; }
pre.sh_sourceCode .sh_fixed { color: green; font-family: monospace; }
pre.sh_sourceCode .sh_argument { color: @shType; }
pre.sh_sourceCode .sh_optionalargument { color: purple; }
pre.sh_sourceCode .sh_math { color: orange; }
pre.sh_sourceCode .sh_bibtex { color: @shKeyword; }

/* for diffs */
pre.sh_sourceCode .sh_oldfile { color: orange; }
pre.sh_sourceCode .sh_newfile { color: @shType; }
pre.sh_sourceCode .sh_difflines { color: @shKeyword; }

/* for css */
pre.sh_sourceCode .sh_selector { color: purple; }
pre.sh_sourceCode .sh_property { color: @shKeyword; }
pre.sh_sourceCode .sh_value { color: @shType; font-style: italic; }

/* other */
pre.sh_sourceCode .sh_section { color: black; font-weight: bold; }
pre.sh_sourceCode .sh_paren { color: red; }
pre.sh_sourceCode .sh_attribute { color: @shType; }


// Overrides

.no-shadow {
  box-shadow: none;
}



