//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #181b20;
@grayDark:              #323943;
@gray:                  #717d7d;
@grayLight:             #b7bcc2;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #3a87ad;
@blueDark:              #285b74;
@green:                 #8dac5c;
@greenDark:				#6a9241;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #df8f1d;
@orangeDark:			#d06212;
@pink:                  #c1699b;
@pinkDark:				#a84876;
@purple:                #7a43b6;
@teal:					#45aba7;
@tealDark:				#31908a;


// Scaffolding
// -------------------------
@bodyBackground:        @grayDark;
@textColor:             @grayLight;


// Links
// -------------------------
@linkColor:             @grayLighter;
@linkColorHover:        darken(@linkColor, 15%);


// Typography
// -------------------------
@sansFontFamily:        "Noto Sans", Helvetica, Arial, sans-serif;
@serifFontFamily:       "Quando", Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        "Droid Sans Mono", Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          16px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        25px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    @serifFontFamily; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    normal;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:         @baseFontSize * 1.25;
@fontSizeSmall:         @baseFontSize * 0.80;
@fontSizeMini:          @baseFontSize * 0.70;

@paddingLarge:          11px 19px;
@paddingSmall:          2px 10px;
@paddingMini:           0 6px;

@baseBorderRadius:      3px;
@borderRadiusLarge:     7px;
@borderRadiusSmall:     2px;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #f5f5f5; // for hover
@tableBorder:                       #ddd; // table and cell border

// Buttons
// -------------------------
@btnBackground:                     @grayLight;
@btnBackgroundHighlight:            @grayLighter;
@btnBorder:                         #ccc;

@btnPrimaryBackground:              #2f96b4;
@btnPrimaryBackgroundHighlight:     #5bc0de;

@btnInfoBackground:                 @tealDark;
@btnInfoBackgroundHighlight:        @teal;

@btnSuccessBackground:              @greenDark;
@btnSuccessBackgroundHighlight:     @green;

@btnWarningBackground:              @orangeDark;
@btnWarningBackgroundHighlight:     lighten(@orange, 15%);

@btnDangerBackground:               #bd362f;
@btnDangerBackgroundHighlight:      #ee5f5b;

@btnPinkBackground:					@pinkDark;
@btnPinkBackgroundHighlight:		@pink;

@btnInverseBackground:              darken(@grayDark, 1%);
@btnInverseBackgroundHighlight:     @grayDark;


// Forms
// -------------------------
@inputColor:					@grayLighter;
@inputBackground:               @bodyBackground;
@inputBorder:                   lighten(@bodyBackground, 5%);
@inputBorderRadius:             @baseBorderRadius + 2;
@inputDisabledBackground:       @grayLighter;
@formActionsBackground:         #f5f5f5;
@inputHeight:                   @baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

@dropdownLinkBackgroundActive:  @linkColor;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;


// Input placeholder text color
// -------------------------
@placeholderText:         @grayLight;


// Hr border color
// -------------------------
@hrBorder:                @grayLighter;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       180px;


// Wells
// -------------------------
@wellBackground:                  #f5f5f5;


// Navbar
// -------------------------
@navbarCollapseWidth:             979px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    55px;
@navbarBackgroundHighlight:       #ffffff;
@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      #777;
@navbarLinkColor:                 #777;
@navbarLinkColorHover:            @grayDark;
@navbarLinkColorActive:           @gray;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

@navbarBrandColor:                @navbarLinkColor;

// Inverted navbar
@navbarInverseBackground:                lighten(@grayDark, 3%);
@navbarInverseBackgroundHighlight:       lighten(@navbarInverseBackground, 7%);
@navbarInverseBorder:                    darken(@navbarInverseBackground, 5%);

@navbarInverseText:                      @grayLight;
@navbarInverseLinkColor:                 @grayLight;
@navbarInverseLinkColorHover:            @white;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    #ccc;

@navbarInverseBrandColor:                lighten(@navbarInverseLinkColor, 30%);


// Pagination
// -------------------------
@paginationBackground:                #fff;
@paginationBorder:                    #ddd;
@paginationActiveBackground:          #f5f5f5;


// Hero unit
// -------------------------
@heroUnitBackground:              @grayLighter;
@heroUnitHeadingColor:            @grayDark;
@heroUnitLeadColor:               @grayDark;


// Form states and alerts
// -------------------------
@warningText:             #c09853;
@warningBackground:       #fcf8e3;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               #b94a48;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             #468847;
@successBackground:       #dff0d8;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                #3a87ad;
@infoBackground:          #d9edf7;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
@tooltipColor:            #fff;
@tooltipBorderWidth:	  1px;
@tooltipBackground:       darken(@bodyBackground, 4%);
@tooltipBorder:	  	      lighten(@tooltipBackground, 20%);
@tooltipArrowWidth:       7px;
@tooltipArrowColor:		  @tooltipBorder;
@tooltipOpacity:		  0.85;
@tooltipFontSize:		  12px;

@popoverBackground:       #fff;
@popoverArrowWidth:       10px;
@popoverArrowColor:       #fff;
@popoverTitleBackground:  darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);


// Source code highlighting
@shKeyword:       @infoText;			          /* language keywords */   
@shType:          @successText;                   /* basic types */
@shUserType:      @teal;                          /* user defined types */
@shString:        @red;                           /* strings and chars */
@shRegexp:        @orange;                        /* regular expressions */
@shSpecialChar:   @pink;                          /* e.g., \n, \t, \\ */
@shComment:       @gray;                          /* comments */
@shNumber:        @purple;                        /* literal numbers */
@shPreProc:       @btnPrimaryBackground;          /* e.g., #include, import */
@shSymbol:        @white;                         /* e.g., <, >, + */
@shFunction:      @successText;                   /* function calls and declarations */
@shBracket:       @warningText;                   /* block brackets (e.g., {, }) */
@shTodo:          @shComment;                     /* TODO and FIXME */
@shLineNumbers:   @grayDark;                      /* Line numbers (not implemented) */


// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// 1200px min
@gridColumnWidth1200:     70px;
@gridGutterWidth1200:     30px;
@gridRowWidth1200:        (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 1));

// 768px-979px
@gridColumnWidth768:      42px;
@gridGutterWidth768:      20px;
@gridRowWidth768:         (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 1));


// Fluid grid
// -------------------------
@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);

// 1200px min
@fluidGridColumnWidth1200:     percentage(@gridColumnWidth1200/@gridRowWidth1200);
@fluidGridGutterWidth1200:     percentage(@gridGutterWidth1200/@gridRowWidth1200);

// 768px-979px
@fluidGridColumnWidth768:      percentage(@gridColumnWidth768/@gridRowWidth768);
@fluidGridGutterWidth768:      percentage(@gridGutterWidth768/@gridRowWidth768);
