{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class='span12'>
                <h1>Contacts</h1>
                <ul class="unstyled">
                    {% for contact in contacts %}
                        <li>
                            <ul class="inline">
                                <li>{{ contact.get_full_name }}</li>
                                <li>{{ contact.email }}</li>
                                {% if user.is_staff and not contact.is_active %}
                                <li><a href="{{ contact.get_invite_url }}"><span class="small">invite url</span></a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% empty %}
                        <li>No Contacts</li>
                    {% endfor %}
                </ul>
                {% if user.is_staff %}
                <p><a href="{% url 'invoices-contact-create' %}" class="btn btn-success">Add Contact</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
