{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span6">
      <h1>Import an Invoice</h1>
      <h5>Import an Invoice from Harvest</h5>
      <form class="form" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='submit' class='btn btn-primary'>Import Invoice</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
