{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class='span12'>
                <h1>Invoices</h1>
                <ul class="unstyled">
                    {% for invoice in invoices %}
                    <li>
                        <ul class="inline">
                            <li><a href="{{ invoice.get_absolute_url }}">{{ invoice.number }}</a></li>
                            <li><span class="label{% if invoice.status == 'paid' %} label-success{% endif %}">{{ invoice.status|upper }}</span></li>
                            <li>Due: {{ invoice.due }}</li>
                            {% if invoice.allow_payment and not user.is_staff %}
                                <li><a href="{{ invoice.get_absolute_url }}" class="btn btn-small btn-primary">View Invoice to make payment</a></li>
                            {% else %}
                                <li><a href="{{ invoice.get_absolute_url }}"><span class="small">view invoice</span></a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% empty %}
                        No Invoices
                    {% endfor %}
                </ul>
                {% if user.is_staff %}
                <p><a class="btn btn-success" href="{% url 'invoices-invoice-import' %}">Import an Invoice</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
