{% extends "base.html" %}
{% load humanize stripe %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Invoice {{ invoice.number }}</h1>
      <h5>{{ invoice.subject }}</h5>
      <dl class="dl-horizontal">
        <dt>STATUS</dt><dd><span class="label{% if invoice.status == 'paid' %} label-success{% endif %}">{{ invoice.status|upper }}</span></dd>
        {% if invoice.client %}
          <dt>Client</dt><dd>{{ invoice.client.get_full_name }}</dd>
        {% endif %}
        <dt>Amount</dt><dd><b>${{ invoice.amount|intcomma }}</b></dd>
        <dt>Subject</dt><dd>{{ invoice.subject }}</dd>
        <dt>Due</dt><dd>{{ invoice.due }}</dd>
    
        {% if invoice.harvest_client_key %}
          <dt>More Detail</dt><dd><a href="{{ invoice.get_harvest_public_url }}" target="_blank">View full invoice on Harvest <i class="icon-external-link"></i></a></dd>
        {% endif %}
      </dl>
      {% if invoice.allow_payment %}
        <p>
          <form action="{{ invoice.get_payment_url }}" method="post">
            {% csrf_token %}
            <button id="make-payment" class="btn btn-primary btn-large">Pay Invoice</button>
        </p>
        <p>Credit cards are processed securely with <a href='https://stripe.com'>Stripe</a>
        </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script type='text/javascript'>
$(function(){
  Stripe.setPublishableKey('{% stripe_pub_key %}');
  
  $('#make-payment').click(function(){
    var token = function(res){
      var $input = $('<input type="hidden" name="stripe_token" />').val(res.id);
      $('form').append($input).submit();
    };

    // Need to convert amount to cents for Stripe
    var amount = {{ invoice.amount }} * 100;

    StripeCheckout.open({
      key:         '{% stripe_pub_key %}',
      address:     true,
      amount:      amount,
      currency:    'usd',
      name:        'Invoice {{ invoice.number }} ',
      description: '{{ invoice.subject }}',
      panelLabel:  'Checkout',
      token:       token
    });

    return false;
  });
});
</script>
{% endblock extra_js %}
