{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class='container'>
        <div class="row">
            <div class='span5'>
                <h1>Please Set a Password</h1>
                <p>Welcome, {{ new_user.get_short_name }}!</p>
                <p>Please set a password, then continue
                   to the login page.
                </p>
                <form action="" method='post'>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class='btn btn-primary' type='submit'>Set Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
