<!doctype html>
{% load i18n %}
{% load compress %}
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <!-- Load web fonts -->
  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Noto+Sans::latin', 'Quando::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
  <!-- end web fonts -->

  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}{% endblock %} | Christopher Lawlor | Invoice Management</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
  {% endcompress %}
  {% block extra_head %}{% endblock %}

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="{{ STATIC_URL }}vendor/js/modernizr-2.6.2.js"></script>
</head>
<body>
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
         chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top raised-panel">
      <div class="navbar-inner">
          <a class="brand" href="/">Christopher Lawlor<br><span class="subheader">Invoice Management</span></a>
            <ul class="nav">
              <li><a href="{% url 'invoices-invoice-list' %}">Invoices</a></li>
              {% if user.is_staff %}
                <li><a href="{% url 'invoices-contact-list' %}">Contacts</a></li>
              {% endif %}
            </ul>
            <ul class='nav pull-right'>
                {% if user.is_authenticated %}
                    <li class='dropdown'>
                        <a href='#' class='dropdown-toggle' data-toggle='dropdown'><i class="icon-user"></i> {{ user.get_username }} <b class="caret"></b></a>
                        <ul class='dropdown-menu'>
                            {% if user.is_staff %}
                                <li><a href="{% url 'invoices-contact-create' %}"><i class='icon-user'></i> Add Client</a></li>
                                <li><a href="{% url 'invoices-invoice-import' %}"><i class='icon-plus'></i> Import an Invoice</a>
                                <li><a href='/admin/' target="_blank"><i class='icon-cog'></i> Admin</a></li>
                            {% endif %}
                            <li><a href='{% url 'logout' %}'><i class='icon-off'></i> Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href='{% url 'login' %}'>Login</a></li>
                {% endif %}
            </ul>
      </div>
    </div>
   
  <!-- contrib.messages -->
   {% if messages %}
     <div class="row">
        <div class="span7 offset4">
         <ul id='messages' class="unstyled">
           {% for message in messages %}
             <li>
               <div class='alert initial-alert{% if message.tags %} {{ message.tags }}{% endif %}'>
                 <button type='button' class='close' data-dismiss='alert'><i class='icon-remove'></i></button>
                 {{ message }}
               </div>
             </li>
           {% endfor %}
         </ul>
        </div>
      </div>
   {% endif %}
   <!-- end contrib.messages -->
   
  {% block content %}

  {% endblock %}

  <footer>
    <div class="container">
      {% block footer %}
      <p>&copy; Christopher Lawlor {% now "Y" %}</p>
      {% endblock %}
    </div>
  </footer>

  </div> <!-- /container -->

    

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- scripts concatenated and minified via build script -->
  {% compress js %}
  <script src="{{ STATIC_URL }}vendor/js/jquery-1.9.1.js"></script>
  <script src="{{ STATIC_URL }}js/csrf.js"></script>
  <script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.js"></script>
  <script src="{{ STATIC_URL }}vendor/js/stripe_v2.js"></script>
  <script src="{{ STATIC_URL }}js/plugins.js"></script>
  <script src="{{ STATIC_URL }}js/script.js"></script>
  {% endcompress %}
  {% block extra_js %}{% endblock %}
  <!-- end scripts -->
  
  {% if not debug %}
    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
         mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  {% endif %}
</body>
</html>
