{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class='hero-unit'>
            <h1>Invoice Management</h1>
            <p>Welcome to the invoice management system.</p>
            <p>
                {% if user.is_authenticated and not user.is_staff %}
                    <a href="{% url 'invoices-invoice-list' %}" class="btn btn-large btn-success">View Your Invoices</a>
                {% endif %}
                {% if not user.is_authenticated %}
                Registration is by invitation only. Please check your email for a registration link.</p>
                <p>If you have already registered, please <a href="{% url 'login' %}" class="btn btn-primary btn-large">Log In</a>
                {% endif %}
            </p>
        </div>
        <div class='row'>
            <div class='span6'>
                <h2>Secure Payments</h2>
                <p>Payments are processed securely with <a href="https://stripe.com">Stripe</a>, the
                    credit card processor for developers, by developers.</p>
                <p>All site traffic is secured with SSL.</p>
            </div>
            <div class='span6'>
                <h2>Secure Time Tracking</h2>
                <p>Development time is tracked using the excellent Harvest
                   service.</p>
            </div>
        </div>
        <div class='row'>
            <div class='span6'>
                <p><a href="https://stripe.com" target="_blank">
                        <img src="{{ STATIC_URL }}img/stripe.png">
                    </a>
                </p>
            </div>
            <div class='span6'>
                <p><a href="http://www.getharvest.com/" target="_blank">
                        <img src="{{ STATIC_URL }}img/harvest.png" width="150" height="51">
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
